.ipynb_checkpoints/
_/
__PowerBI/
_Experiências/
R_Jupyter Notebook/
Relatório/

IMD_Grupo2_Dashboard.pbix

.RData
.Rhistory
IMD_Grupo2_Dashboard.rar
IMD_Grupo2_Script.rar
IMD_Grupo2_Dados_Dashboard.csv
listings_Boston.csv
Relatório_IMD.docx